.table {
    background-color: #e7e7e5bb;
    margin-top: 10%;
    margin-left: 50%;
    border-radius: 10px;
    border-collapse: collapse;
    color: #807f7f;
    width: 80%;
    height: 100%;
}

.lastElement {
    border-right: none;
}

.tableModal {
    color: #807f7f;
    border-collapse: collapse;
    border-radius: 10px;
    width: 100%;
    margin-top: 2%;
}

.modalHeader {
    border-bottom: 1px solid #ccc;
    padding-bottom: 3%;
    margin-bottom: 3%;
    color: #807f7f;
}