.modalContainer {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(199, 198, 198, 0.5);
    backdrop-filter: blur(10px);
    z-index: 999;
    align-items: center;
    justify-content: center;
}

.modal {
    width: 40%;
    background-color: #ffffff62;
    padding: 40px;
    border-radius: 8px;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 5;
    transform: translate(-50%, -50%);
    max-width: 80%;
}

.close {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: #ffffff00;
    color: #5757d8;
    font-weight: 700;
    cursor: pointer;
}